Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    padding: 0.1em;
  }
  
  .heading{
    display: flex;
    flex-direction: column;
    text-align:center;
    justify-content: center;
  }
  
  
  .labels{
  display: flex;
  }
  
  
  .inputerror{
    display: flex;
    color: red;
  }


  /* .loginMain{
display: flex;
  } */

  .compLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15vw;
    margin-bottom: 1em;
    border-radius: 1em;
    height: 9em;
    width: 11em;
  }
