.ModalMain{
    display: flex;
    flex-direction: row;
    margin: 0;
    /* align-items: flex-end; */
    /* margin-top: -2.2em; */
    
}

@media screen and (max-width: 403px) {
    .ModalMain{
        align-items: center;       
      }
    }