.App {
  background-color: rgb(156, 186, 206);
  /* background-image: url("./bg.jpg"); */
  /* background-repeat: no-repeat; */
  display: flex;
  flex-direction: column;
  /* padding: 2em; */
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
align-items: center;
}

Form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  padding: 0.1em;
}

.heading{
  display: flex;
  flex-direction: column;
  text-align:center;
  justify-content: center;
}


.labels{
display: flex;
}


.inputerror{
  display: flex;
  color: red;
}

